/* See the paper Music and Visual Color: A Proposed Correlation here: https://www.jstor.org/stable/1577978 */
.btn.a {
   background-color: hsl(275, 100%, 75%);/* indigo*/
}

.btn.b {
   background-color: hsl(300, 76%, 85%);
}

.btn.c {
   background-color: hsl(0, 100%, 65%);
}

.btn.d {
   background-color: hsl(39, 100%, 65%);
}

.btn.e {
   background-color: hsl(60, 100%, 60%);
}

.btn.f {
   background-color: hsl(120, 100%, 60%);
}

.btn.g {
   background-color: hsl(240, 100%, 75%);
}

/* .menu {
   padding: 20px
} */

.menu-instrument {
   width: 200px;
   height: 150px;
}

/* Dropdown Button */
.dropbtn {
   background-color: #88abc2;
   color: white;
   padding: 10px;
   font-size: 0px;
   border: none;
   cursor: pointer;
   border-radius: 20px;
 }
 
 /* Dropdown button on hover & focus */
 .dropbtn:hover, .dropbtn:focus {
   background-color: #384852;
 }
 
 /* The container <div> - needed to position the dropdown content */
 .dropdown {
   position: relative;
   display: inline-block;
   margin-top: 15%;
 }
 
 /* Dropdown Content (Hidden by Default) */
 .dropdown-content {
   display: none;
   position: absolute;
   padding: 20px;
   background-color: #f1f1f1;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }
 
 /* Links inside the dropdown */
 .dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 }
 
 /* Change color of dropdown links on hover */
 .dropdown-content a:hover {background-color: #ddd;}
 
 /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
 .show {display:block;}