/* See the paper Music and Visual Color: A Proposed Correlation here: https://www.jstor.org/stable/1577978 */

.btn.a {
   background-color: rgb(173, 92, 231)
}

.btn.b {
   background-color: violet;
}

.btn.c {
   background-color: rgb(249, 65, 65);
}

.btn.d {
   background-color: orange;
}

.btn.e {
   background-color: yellow;
}

.btn.f {
   background-color: rgb(8, 215, 8);
}

.btn.g {
   background-color: rgb(0, 204, 255);
}


.menu-instrument {
   width: 150px;
   height: 100px;
}

/* Dropdown Button */
.dropbtn {
   background-color: #88abc2;
   color: white;
   padding: 10px;
   font-size: 0px;
   border: none;
   cursor: pointer;
   border-radius: 20px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
   background-color: #384852;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
   position: relative;
   display: inline-block;
   margin: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
   display: none;
   position: absolute;
   padding: 20px;
   background-color: #f1f1f1;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
   background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
   display: block;
}

.score-counters {
   display: flex;
   margin: 5px;
   justify-content: center;
}

span.score-counter {
   margin: 5px;
}

.uncolored {
   background-color: lightgrey !important;
}

#start {
   background-color: #009779;
}

#stop {
   background-color: #0e85fc;
}

#reset {
   background-color: #c91400;
}

.timer.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.btn {
   /* text-decoration: none; */
   /* border: black; */
   font-weight: bold;
   padding: 12px 40px;
   font-size: 16px;
   background-color: green;
   color: #fff;
   border-radius: 5px;
   box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
   cursor: pointer;
   outline: none;
   transition: 0.2s all;
   height: 50px;
   width: 50px;
}

/* Adding transformation when the button is active */

.btn:hover {
   transform: scale(1.05);
}

.btn:active {
   transform: scale(0.97);
   /* Scaling button to 0.98 to its original size */
   box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
   /* Lowering the shadow */
}

#message {
   animation: pop 0.5s ease-in-out;
   animation-delay: 0s;
}

@keyframes pop {
   50% {
      transform: scale(1.25);
   }
}